.features242-wrapper {
  display: contents;
}
.features242-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features242-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
.features242-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal3 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment15 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}

@media(max-width: 991px) {
  .features242-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}

.pricing6-wrapper {
  display: contents;
}
.pricing6-pricing23 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing6-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing6-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing6-text10 {
  text-align: center;
}
.pricing6-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text11 {
  text-align: center;
}
.pricing6-tabs {
  display: flex;
  align-items: flex-start;
}
.pricing6-button10 {
  gap: var(--dl-space-space-halfunit);
  color: var(--dl-color-theme-neutral-light);
  width: 120px;
  height: 60px;
  display: none;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
  border-top-left-radius: var(--dl-radius-radius-buttonradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--dl-radius-radius-buttonradius);
  border-bottom-right-radius: 0;
}
.pricing6-button11 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pricing6-button12 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: none;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pricing6-button13 {
  gap: var(--dl-space-space-halfunit);
  width: 120px;
  height: 60px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.pricing6-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.pricing6-column1 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.pricing6-price10 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price11 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text16 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text17 {
  font-size: 48px;
}
.pricing6-list1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item10 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item11 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button14 {
  width: 100%;
  text-decoration: none;
}
.pricing6-column2 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.pricing6-price12 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price13 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text22 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text23 {
  font-size: 48px;
}
.pricing6-list2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item14 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button15 {
  width: 100%;
  text-decoration: none;
}
.pricing6-column3 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.pricing6-price14 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price15 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text29 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text30 {
  font-size: 48px;
}
.pricing6-list3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item20 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button16 {
  width: 100%;
  text-decoration: none;
}
.pricing6-container2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.pricing6-column4 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
}
.pricing6-price16 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price17 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text36 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text37 {
  font-size: 48px;
}
.pricing6-list4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item22 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item23 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button17 {
  width: 100%;
  text-decoration: none;
}
.pricing6-column5 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent1);
}
.pricing6-price18 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price19 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text43 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text44 {
  font-size: 48px;
}
.pricing6-list5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item24 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item25 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item26 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item27 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button18 {
  width: 100%;
  text-decoration: none;
}
.pricing6-column6 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  background-color: var(--dl-color-theme-accent2);
}
.pricing6-price20 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-price21 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing6-text51 {
  font-style: normal;
  font-weight: 600;
}
.pricing6-text52 {
  font-size: 48px;
}
.pricing6-list6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.pricing6-list-item28 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item29 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item30 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-list-item31 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.pricing6-button19 {
  width: 100%;
  text-decoration: none;
}
.page-fragment28 {
  display: contents;
}
.page-text32 {
  display: inline-block;
}
.page-fragment59 {
  display: contents;
}
.page-text63 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text27 {
  display: inline-block;
}
.page-fragment58 {
  display: contents;
}
.page-text62 {
  display: inline-block;
}
.page-fragment46 {
  display: contents;
}
.page-text50 {
  display: inline-block;
}
.page-fragment49 {
  display: contents;
}
.page-text53 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment16 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment57 {
  display: contents;
}
.page-text61 {
  display: inline-block;
}
.page-fragment42 {
  display: contents;
}
.page-text46 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment33 {
  display: contents;
}
.page-text37 {
  display: inline-block;
}
.page-fragment51 {
  display: contents;
}
.page-text55 {
  display: inline-block;
}
.page-fragment56 {
  display: contents;
}
.page-text60 {
  display: inline-block;
}
.page-fragment55 {
  display: contents;
}
.page-text59 {
  display: inline-block;
}
.page-fragment35 {
  display: contents;
}
.page-text39 {
  display: inline-block;
}
.page-fragment43 {
  display: contents;
}
.page-text47 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text23 {
  display: inline-block;
}
.page-fragment38 {
  display: contents;
}
.page-text42 {
  display: inline-block;
}
.page-fragment48 {
  display: contents;
}
.page-text52 {
  display: inline-block;
}
.page-fragment54 {
  display: contents;
}
.page-text58 {
  display: inline-block;
}
.page-fragment39 {
  display: contents;
}
.page-text43 {
  display: inline-block;
}
.page-fragment41 {
  display: contents;
}
.page-text45 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text30 {
  display: inline-block;
}
.page-fragment31 {
  display: contents;
}
.page-text35 {
  display: inline-block;
}
.page-fragment50 {
  display: contents;
}
.page-text54 {
  display: inline-block;
}
.page-fragment36 {
  display: contents;
}
.page-text40 {
  display: inline-block;
}
.page-fragment27 {
  display: contents;
}
.page-text31 {
  display: inline-block;
}
.page-fragment40 {
  display: contents;
}
.page-text44 {
  display: inline-block;
}
.page-fragment44 {
  display: contents;
}
.page-text48 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment53 {
  display: contents;
}
.page-text57 {
  display: inline-block;
}
.page-fragment24 {
  display: contents;
}
.page-text28 {
  display: inline-block;
}
.page-fragment52 {
  display: contents;
}
.page-text56 {
  display: inline-block;
}
.page-fragment29 {
  display: contents;
}
.page-text33 {
  display: inline-block;
}
.page-fragment37 {
  display: contents;
}
.page-text41 {
  display: inline-block;
}
.page-fragment47 {
  display: contents;
}
.page-text51 {
  display: inline-block;
}
.page-fragment45 {
  display: contents;
}
.page-text49 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment34 {
  display: contents;
}
.page-text38 {
  display: inline-block;
}
.page-fragment60 {
  display: contents;
}
.page-text64 {
  display: inline-block;
}
.page-fragment30 {
  display: contents;
}
.page-text34 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text29 {
  display: inline-block;
}
.page-fragment32 {
  display: contents;
}
.page-text36 {
  display: inline-block;
  font-size: 38px;
}
@media(max-width: 991px) {
  .pricing6-container1 {
    flex-direction: column;
  }
  .pricing6-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .pricing6-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing6-button15 {
    width: 100%;
  }
  .pricing6-button16 {
    width: 100%;
  }
}

.cta26-wrapper {
  display: contents;
}
.cta26-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-navlink {
  width: 205px;
  height: 60px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary2);
}
.page-fragment62 {
  display: contents;
}
.page-text68 {
  display: inline-block;
}
.page-fragment63 {
  display: contents;
}
.page-text69 {
  display: inline-block;
}
.page-fragment61 {
  display: contents;
}
.page-text65 {
  display: inline-block;
}
@media(max-width: 767px) {
  .cta26-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment15 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment16 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text23 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text27 {
  display: inline-block;
}
.page-fragment24 {
  display: contents;
}
.page-text28 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text29 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text30 {
  display: inline-block;
}
.page-fragment27 {
  display: contents;
}
.page-text31 {
  display: inline-block;
}
.page-fragment28 {
  display: contents;
}
.page-text32 {
  display: inline-block;
}
.page-fragment29 {
  display: contents;
}
.page-text33 {
  display: inline-block;
}
.page-fragment30 {
  display: contents;
}
.page-text34 {
  display: inline-block;
}
.page-fragment31 {
  display: contents;
}
.page-text35 {
  display: inline-block;
}
.page-fragment32 {
  display: contents;
}
.page-text36 {
  display: inline-block;
  font-size: 38px;
}
.page-fragment33 {
  display: contents;
}
.page-text37 {
  display: inline-block;
}
.page-fragment34 {
  display: contents;
}
.page-text38 {
  display: inline-block;
}
.page-fragment35 {
  display: contents;
}
.page-text39 {
  display: inline-block;
}
.page-fragment36 {
  display: contents;
}
.page-text40 {
  display: inline-block;
}
.page-fragment37 {
  display: contents;
}
.page-text41 {
  display: inline-block;
}
.page-fragment38 {
  display: contents;
}
.page-text42 {
  display: inline-block;
}
.page-fragment39 {
  display: contents;
}
.page-text43 {
  display: inline-block;
}
.page-fragment40 {
  display: contents;
}
.page-text44 {
  display: inline-block;
}
.page-fragment41 {
  display: contents;
}
.page-text45 {
  display: inline-block;
}
.page-fragment42 {
  display: contents;
}
.page-text46 {
  display: inline-block;
}
.page-fragment43 {
  display: contents;
}
.page-text47 {
  display: inline-block;
}
.page-fragment44 {
  display: contents;
}
.page-text48 {
  display: inline-block;
}
.page-fragment45 {
  display: contents;
}
.page-text49 {
  display: inline-block;
}
.page-fragment46 {
  display: contents;
}
.page-text50 {
  display: inline-block;
}
.page-fragment47 {
  display: contents;
}
.page-text51 {
  display: inline-block;
}
.page-fragment48 {
  display: contents;
}
.page-text52 {
  display: inline-block;
}
.page-fragment49 {
  display: contents;
}
.page-text53 {
  display: inline-block;
}
.page-fragment50 {
  display: contents;
}
.page-text54 {
  display: inline-block;
}
.page-fragment51 {
  display: contents;
}
.page-text55 {
  display: inline-block;
}
.page-fragment52 {
  display: contents;
}
.page-text56 {
  display: inline-block;
}
.page-fragment53 {
  display: contents;
}
.page-text57 {
  display: inline-block;
}
.page-fragment54 {
  display: contents;
}
.page-text58 {
  display: inline-block;
}
.page-fragment55 {
  display: contents;
}
.page-text59 {
  display: inline-block;
}
.page-fragment56 {
  display: contents;
}
.page-text60 {
  display: inline-block;
}
.page-fragment57 {
  display: contents;
}
.page-text61 {
  display: inline-block;
}
.page-fragment58 {
  display: contents;
}
.page-text62 {
  display: inline-block;
}
.page-fragment59 {
  display: contents;
}
.page-text63 {
  display: inline-block;
}
.page-fragment60 {
  display: contents;
}
.page-text64 {
  display: inline-block;
}
.page-fragment61 {
  display: contents;
}
.page-text65 {
  display: inline-block;
}
.page-fragment62 {
  display: contents;
}
.page-text68 {
  display: inline-block;
}
.page-fragment63 {
  display: contents;
}
.page-text69 {
  display: inline-block;
}
