.features242-wrapper {
  display: contents;
}
.features242-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features242-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
.features242-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features242-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features242-tab-horizontal3 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features242-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features242-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features242-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment15 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}

@media(max-width: 991px) {
  .features242-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}

.pricing10-wrapper {
  display: contents;
}
.pricing10-pricing23 {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.pricing10-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing10-section-title {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pricing10-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-text10 {
  text-align: center;
}
.pricing10-content3 {
  gap: 0;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
}
.pricing10-container10 {
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing10-column1 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  border-top-width: 0px;
}
.pricing10-price1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-price2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-text11 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.pricing10-text12 {
  width: auto;
  font-size: 48px;
  text-align: center;
}
.pricing10-text13 {
  text-align: center;
}
.pricing10-button1 {
  width: 100%;
  display: flex;
}
.pricing10-column2 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent1);
  border-top-width: 0px;
}
.pricing10-price3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-price4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-text15 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.pricing10-text16 {
  font-size: 48px;
  text-align: center;
}
.pricing10-text17 {
  text-align: center;
}
.pricing10-button2 {
  width: 100%;
}
.pricing10-column3 {
  gap: var(--dl-space-space-twounits);
  width: 20%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  background-color: var(--dl-color-theme-accent2);
  border-top-width: 0px;
}
.pricing10-price5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-price6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.pricing10-text19 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.pricing10-text20 {
  font-size: 48px;
  text-align: center;
}
.pricing10-text21 {
  text-align: center;
}
.pricing10-button3 {
  width: 100%;
}
.pricing10-container11 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing10-content2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing10-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing10-container13 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing10-container14 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 0px;
}
.pricing10-text24 {
  width: 20px;
}
.pricing10-container15 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container16 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-text26 {
  height: auto;
  align-self: center;
}
.pricing10-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing10-container18 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing10-container19 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container20 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container21 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing10-container23 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing10-container24 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container25 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container26 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing10-container28 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing10-container29 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container30 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container31 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
}
.pricing10-container33 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.pricing10-container34 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container35 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.pricing10-container36 {
  flex: 1;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  border-bottom-width: 0px;
}
.page-fragment16 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text23 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text25 {
  display: inline-block;
}
.page-fragment24 {
  display: contents;
}
.page-text26 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text27 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text28 {
  display: inline-block;
}
.page-fragment27 {
  display: contents;
}
.page-text29 {
  display: inline-block;
}
.page-fragment28 {
  display: contents;
}
.page-text30 {
  display: inline-block;
}
.page-fragment29 {
  display: contents;
}
.page-text31 {
  display: inline-block;
}
.page-fragment30 {
  display: contents;
}
.page-text32 {
  display: inline-block;
}
.page-fragment31 {
  display: contents;
}
.page-text33 {
  display: inline-block;
}
.page-fragment32 {
  display: contents;
}
.page-text34 {
  display: inline-block;
}
.page-fragment33 {
  display: contents;
}
.page-text35 {
  display: inline-block;
}
.page-fragment34 {
  display: contents;
}
.page-text36 {
  display: inline-block;
}
.page-fragment35 {
  display: contents;
}
.page-text37 {
  display: inline-block;
}
.page-fragment36 {
  display: contents;
}
.page-text38 {
  display: inline-block;
}
@media(max-width: 991px) {
  .pricing10-content3 {
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .pricing10-content3 {
    flex-direction: column;
  }
  .pricing10-column1 {
    width: 100%;
    border-top-width: 1px;
  }
  .pricing10-text12 {
    font-size: 24px;
  }
  .pricing10-column2 {
    width: 100%;
  }
  .pricing10-text16 {
    font-size: 24px;
  }
  .pricing10-column3 {
    width: 100%;
  }
  .pricing10-text20 {
    font-size: 24px;
  }
  .pricing10-container11 {
    display: none;
  }
}
@media(max-width: 479px) {
  .pricing10-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .pricing10-column1 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing10-text12 {
    font-size: 16px;
  }
  .pricing10-button1 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
  }
  .pricing10-column2 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing10-text16 {
    font-size: 16px;
  }
  .pricing10-button2 {
    width: 100%;
  }
  .pricing10-column3 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .pricing10-text20 {
    font-size: 16px;
  }
  .pricing10-button3 {
    width: 100%;
  }
}

.cta26-wrapper {
  display: contents;
}
.cta26-accent2-bg {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.cta26-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.cta26-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.cta26-container2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.cta26-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.cta26-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cta26-navlink {
  width: 205px;
  height: 60px;
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary2);
}
.page-fragment38 {
  display: contents;
}
.page-text42 {
  display: inline-block;
}
.page-fragment39 {
  display: contents;
}
.page-text43 {
  display: inline-block;
}
.page-fragment37 {
  display: contents;
}
.page-text39 {
  display: inline-block;
}
@media(max-width: 767px) {
  .cta26-container2 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-fragment10 {
  display: contents;
}
.page-text10 {
  display: inline-block;
}
.page-fragment11 {
  display: contents;
}
.page-text11 {
  display: inline-block;
}
.page-fragment12 {
  display: contents;
}
.page-text12 {
  display: inline-block;
}
.page-fragment13 {
  display: contents;
}
.page-text13 {
  display: inline-block;
}
.page-fragment14 {
  display: contents;
}
.page-text16 {
  display: inline-block;
}
.page-fragment15 {
  display: contents;
}
.page-text17 {
  display: inline-block;
}
.page-fragment16 {
  display: contents;
}
.page-text18 {
  display: inline-block;
}
.page-fragment17 {
  display: contents;
}
.page-text19 {
  display: inline-block;
}
.page-fragment18 {
  display: contents;
}
.page-text20 {
  display: inline-block;
}
.page-fragment19 {
  display: contents;
}
.page-text21 {
  display: inline-block;
}
.page-fragment20 {
  display: contents;
}
.page-text22 {
  display: inline-block;
}
.page-fragment21 {
  display: contents;
}
.page-text23 {
  display: inline-block;
}
.page-fragment22 {
  display: contents;
}
.page-text24 {
  display: inline-block;
}
.page-fragment23 {
  display: contents;
}
.page-text25 {
  display: inline-block;
}
.page-fragment24 {
  display: contents;
}
.page-text26 {
  display: inline-block;
}
.page-fragment25 {
  display: contents;
}
.page-text27 {
  display: inline-block;
}
.page-fragment26 {
  display: contents;
}
.page-text28 {
  display: inline-block;
}
.page-fragment27 {
  display: contents;
}
.page-text29 {
  display: inline-block;
}
.page-fragment28 {
  display: contents;
}
.page-text30 {
  display: inline-block;
}
.page-fragment29 {
  display: contents;
}
.page-text31 {
  display: inline-block;
}
.page-fragment30 {
  display: contents;
}
.page-text32 {
  display: inline-block;
}
.page-fragment31 {
  display: contents;
}
.page-text33 {
  display: inline-block;
}
.page-fragment32 {
  display: contents;
}
.page-text34 {
  display: inline-block;
}
.page-fragment33 {
  display: contents;
}
.page-text35 {
  display: inline-block;
}
.page-fragment34 {
  display: contents;
}
.page-text36 {
  display: inline-block;
}
.page-fragment35 {
  display: contents;
}
.page-text37 {
  display: inline-block;
}
.page-fragment36 {
  display: contents;
}
.page-text38 {
  display: inline-block;
}
.page-fragment37 {
  display: contents;
}
.page-text39 {
  display: inline-block;
}
.page-fragment38 {
  display: contents;
}
.page-text42 {
  display: inline-block;
}
.page-fragment39 {
  display: contents;
}
.page-text43 {
  display: inline-block;
}
