.contacts-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contacts-text10 {
  display: inline-block;
}
.contacts-text13 {
  display: inline-block;
}
.contacts-text14 {
  display: inline-block;
}
.contacts-text15 {
  display: inline-block;
}
.contacts-text18 {
  display: inline-block;
}
.contacts-text21 {
  display: inline-block;
}
